<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Getting Started</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse ">
        <div class="panel-body">
           <a href="#myModal" data-toggle="modal">Bootstraping</a>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Data binding</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse ">
        <div class="panel-body">
          <a href="#" ng-click="writeExample('bind')">2-way Databinding</a>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">MVC</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse ">
        <div class="panel-body">
          MVC
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Module</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse ">
        <div class="panel-body">
          Module
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Directive</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse ">
        <div class="panel-body">
            Directive
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">DI, Service</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse ">
        <div class="panel-body">
           DI, Service
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Factory</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse ">
        <div class="panel-body">
           Factory
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Filter</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse ">
        <div class="panel-body">
            Filter
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Sample Apps</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse ">
        <div class="panel-body">
            <a href="#" ng-click="writeExample('todo')">TODO List</a>
        </div>
      </div>
    </div>
    
</div>


 <!-- Getting Start Modal -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal Title</h4>
                </div>
                <div class="modal-body">
                    <div id="pre"></div>
                    <div id="next"></div>
                    <p>Start AngularJS</p>
                    <p class="text-warning"><small>ng is good!</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>