<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Getting Started</a>
          <a href="#myModal" ng-click="pager('boot')" data-toggle="modal" style="float: right">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a><br>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse ">
        <div class="panel-body">
           <a href="#" ng-click="writeExample('ExBoot_list')">Bootstrap</a>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Data binding</a>
          <a href="#myModal" ng-click="pager('bind')" data-toggle="modal" style="float: right">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a><br>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse ">
        <div class="panel-body">
          <a href="#" ng-click="writeExample('ExBind_list')">2-way Databinding</a>
        </div>
      </div>
    </div>
    
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Module(MVW)</a>
          <a href="#myModal" ng-click="pager('module')" data-toggle="modal" style="float: right">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a><br>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse ">
        <div class="panel-body">
          <a href="#" ng-click="writeExample('ExModule_list')">Module</a>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Directive</a>
          
          <a href="#myModal" ng-click="pager('directive')" data-toggle="modal" style="float: right">
          <i class="glyphicon glyphicon-question-sign"></i>
          </a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse ">
        <div class="panel-body">
            <a href="#" ng-click="writeExample('ExRepeat_list')">ng-repeat</a><br>
            <a href="#" ng-click="writeExample('ExShow_list')">ng-show/hide</a><br>
            <a href="#" ng-click="writeExample('ExCustom_list')">custom directive</a><br>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Service</a>
          <a href="#myModal" ng-click="pager('service1')" data-toggle="modal" style="float: right">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse ">
        <div class="panel-body">
           <a href="#" ng-click="writeExample('ExService1_list')">Service_1</a><br>
           <a href="#" ng-click="writeExample('ExService2_list')">Service_2</a><br>
        </div>
      </div>
    </div>
    
    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Factory</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse ">
        <div class="panel-body">
           Factory
        </div>
      </div>
    </div> -->
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Filter</a>
        <a href="#myModal" ng-click="pager('filter')" data-toggle="modal" style="float: right">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a>
        </h4>
        
      </div>
      <div id="collapse8" class="panel-collapse collapse ">
        <div class="panel-body">
            Filter
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Ajax</a>
          <a href="#myModal" ng-click="pager('$http')" data-toggle="modal" style="float: right">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a>
          <br>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse ">
        <div class="panel-body">
           <a href="#" ng-click="writeExample('ExHttp_list')">$http</a><br>
           <a href="#" ng-click="writeExample('ExHtHd_list')">$httpHeader</a><br>
           <a href="#" ng-click="writeExample('ExQTo_list')">$q Promise</a><br>
           <a href="#" ng-click="writeExample('ExQPa_list')">$q Httpinterceptor</a><br>
           <a href="#" ng-click="writeExample('ExQDe_list')">$q Deferred</a><br>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Sample Apps</a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse ">
        <div class="panel-body">
            <a href="#" ng-click="writeExample('ExTd_list')">TODO</a><br>
            <a href="#" ng-click="writeExample('ExAd_list')">Accordion</a><br>
            <a href="#" ng-click="writeExample('ExBtn_list')">Buttons</a><br>
            <a href="#" ng-click="writeExample('ExCu_list')">Carousel </a><br>
            <a href="#" ng-click="writeExample('ExMd_list')">Modal  </a><br>
        </div>
      </div>
    </div>
</div>


 <!-- Getting Start Modal -->
 <div id="myModal" class="modal fade">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">{{modalTitle}}</h3>
        <!--  ng-bind-html="modalTitle" -->
       </div>
       <div class="modal-body" style = "height:60vh; overflow-y:auto;">
        <div id="pre"></div>
        <div id="next"></div>
        <div ng-bind-html="modalContent"></div>
       </div>
       <div class="modal-footer">
         <div class="modal-page" >
          <ul id="pageList" class="pagination">
	          <li ng-repeat="list in modalFooter" class="">
	          <a href="#" ng-click="changeContent(list, $index)">{{list}}</a></li>
          </ul>
         </div>
       </div>
     </div>
   </div>
 </div>