<div class="settings-content-div">
  <div class="cdn-switch-div">
  <h3 class="setting-title">CDN</h3>
    <label>AngularJS</label>
    <br>
    <div class="lib-div">
      Angular
      <div class="sw-div">
        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" ng-model="ng" ng-change="update()">
          <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> </label>
      </div>
    </div>
    <div class="lib-div">
      ngAnimate
      <div class="sw-div">
        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" ng-model="ngani" ng-change="update()">
          <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> </label>
      </div>
    </div>
    <div class="lib-div">
      ngRoute
      <div class="sw-div">
        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" ng-model="ngrt" ng-change="update()">
          <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> </label>
      </div>
    </div>

  <br>

  <div>
    <label>Librarys</label>
    <br>
    <div class="lib-div">
      JQuery
      <div class="sw-div">
        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" ng-model="jq" ng-change="update()">
          <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> </label>
      </div>
    </div>

    <div class="lib-div">
      JQuery UI
      <div class="sw-div">
        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" ng-model="jqui" ng-change="update()">
          <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> </label>
      </div>
    </div>

  </div>

  <br>

  <div>
    <label>CSS</label>
    <br>
    <div class="lib-div">
      Bootstrap
      <div class="sw-div">
        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" ng-model="bs" ng-change="update()">
          <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> </label>
      </div>
    </div>
  </div>

  <br>

  <div>
    <label>Angular Component</label>
    <br>
    <div class="lib-div">
      UI-Bootstrap
      <div class="sw-div">
        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" ng-model="ub" ng-change="update()">
          <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> </label>
      </div>
    </div>
    <div class="lib-div">
      AngularStrap
      <div class="sw-div">
        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" ng-model="as" ng-change="update()">
          <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> </label>
      </div>
    </div>
  </div>
  <br>

  </div>
</div>
